/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
/*The background-attachment and background-size properties are what's important here. Cover the whole thing and never, ever move.*/
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*This is styling the lettering. The rgba is an alternative to using color. The advantave is that the last value is the opacity. In other
    words, you can make the color more or less translucent. The text-shadow is a cool effect that I overdid for demonstration purposes*/
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  line-height: 300px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}
/*The images aren't in the HTML like they normally are. They are in CSS so they can be 'stuck' in the browser.
    The .. just means go back to the root directory (we're in the css directory now) and then go to img, etc.*/
section.module.parallax-1 {
  background-image: url("../img/demo/1.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/demo/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
